################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/BingWallpapers/bin
/BingWallpapers/obj
packages